include mixins/svg
include mixins/blocks

block vars
	-
		var title = title || ''
		var description = description || ''
		var image = image || ''
	-
		var html = {
			attrs: {
				lang: 'ru'
			},
			classList: []
		}
	-
		var body = {
			attrs: {},
			classList: []
		}
	-
		var meta = {
			charset: 'utf-8',
			description: description,
			keywords: [],
			ogTitle: title,
			viewport: 'width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1',
			XUACompatible: 'IE=edge'
		}
	-
		var link = {
			icon: '',
			icon16x16: '',
			icon32x32: ''
		}

doctype html
html(class=html.classList)&attributes(html.attrs)
	.circle-cursor.circle-cursor--inner
	.circle-cursor.circle-cursor--outer
	svg.circle-cursor.circle-cursor--drag(width='85' height='50' viewbox='0 0 85 50' fill='none' xmlns='http://www.w3.org/2000/svg')
		circle(cx='42.5' cy='25' r='24' stroke='white' stroke-width='2')
		path(d='M7.5 20L2 25.5L7.5 31' stroke='white' stroke-width='2' stroke-linecap='round')
		path(d='M77.5 20L83 25.5L77.5 31' stroke='white' stroke-width='2' stroke-linecap='round')

	svg(width='0', height='0', viewBox='0 0 0 0', fill='none', xmlns='http://www.w3.org/2000/svg' style='position: absolute')
		defs
			lineargradient#paint0_linear(x1='30', y1='0', x2='30', y2='60', gradientUnits='userSpaceOnUse')
				stop(stop-color='white')
				stop(offset='1', stop-color='white', stop-opacity='0.3')
	head
		block head-start
		block meta
			if meta.charset
				meta(charset=meta.charset)
			if meta.XUACompatible
				meta(http-equiv="X-UA-Compatible" content=meta.XUACompatible)
			if meta.viewport
				meta(name="viewport" content=meta.viewport)
			if meta.description
				meta(name="description" content=meta.description)
		title
			= title
		block links
			if link.icon
				link(rel="icon" href=link.icon)
			if link.icon16x16
				link(rel="icon" href=link.icon16x16 sizes="16x16")
			link(rel="stylesheet" href="css/main.css?v=" + Date.now())
		script(type='text/javascript').
			window.__app = {"TEMPLATE_URI": ".."};
		block head-end
	body(class=body.classList)&attributes(body.attrs)
		script.
			var isIE = /*@cc_on!@*/false || !!document.documentMode;
			if (isIE) {
				window.location.href = "ie.html";
			}
		.page
			block header
				include template/header
			main.main#main
				block content
			block footer
				include template/footer
			block popup
				include particles/popups
			block scripts
				script(src="js/vendor.js?v=" + Date.now())
				script(src="js/main.js?v=" + Date.now())
			block body-end
